<div id="chatroom_container" class="row bg-dark text-light">
  <div id="side_panel" class="col-md-4 col-sm-4">
    <h5><%= "Welcome, #{current_user.email}!" %></h5>
    <br>
    <h4>Users</h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
    <h4>Channels</h4>
    <%= render "layouts/new_channel_form" %>
    <%= turbo_stream_from "channels" %>
    <div id="channels">
      <%= render @channels %>
    </div>
  </div>
  <div id="channel_container" class="col-md-8 col-sm-8 bg-dark text-light">
    <% if @single_channel %>
      <div id="single_channel">
        <h4 class="text-center"><%= @user&.email || @single_channel.name %></h4>
        <%= turbo_stream_from @single_channel %>
        <div id="messages" data-controller="scroll">
          <%= render @messages %>
        </div>
        <%= render 'layouts/new_message_form' %>
      </div>
    <% end %>
  </div>
</div>